html {
  font-size: 16px;
}


/*u-body*/

.u-body {
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
.u-body h1,
.u-body h2,
.u-body h3,
.u-body h4,
.u-body h5,
.u-body h6 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: inherit;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1.125rem;
}
p {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.u-body {
  color: #111111;
  background-color: #ffffff;
}

/*u-body*/

/*u-overlap*/
.u-overlap .u-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.u-overlap .u-header {
  z-index: 20;
}
.u-overlap .u-header.u-sticky {
  position: fixed;
}
.u-overlap.u-overlap-transparent .u-header {
  background-color: transparent !important;
  background-image: none !important;
}

/*u-overlap*/

.u-align-left {
  text-align: left;
}
.u-align-center {
  text-align: center;
}


/*u-clearfix*/

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}

/*u-header*/
.u-overlap .u-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.u-sticky,
.u-overlap .u-header {
  z-index: 20;
}
.u-overlap .u-header.u-sticky {
  position: fixed;
}
.u-overlap.u-overlap-transparent .u-header {
  background-color: transparent !important;
  background-image: none !important;
}
.u-hide-header .u-header,
.u-hide-footer .u-footer {
  display: none;
}

.u-sheet {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.u-sheet-1 {min-height: 120px}


/*u-image*/

.u-image.u-logo {
  display: table;
  white-space: nowrap;
}
.u-image.u-logo img {
  display: block;
}


img.u-image,
.u-video-poster {
  overflow: hidden;
}
.u-back-image.u-image-contain,
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
}
.u-back-image.u-image-tiles,
.u-image.u-image-tiles {
  background-size: initial;
  background-repeat: repeat;
  background-position: top left !important;
}
section.u-image,
.u-sheet.u-image,
.u-group.u-image,
.u-layout-cell.u-image {
  overflow: visible;
}
.u-text .u-image {
  display: inline-block;
}
.u-post-content .u-image {
  margin-bottom: 0.5rem;
}
.u-image-circle.u-image {
  border-radius: 50% !important;
}
.u-image-circle.u-expanded-width {
  padding-bottom: 100%;
}




.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}

.u-valign-middle {
  justify-content: center;
}


.u-custom-font.u-heading-font {
  font-family: Roboto,sans-serif !important;
}


    /** common-rules **/
    h1.u-title
    {
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2.u-subtitle
    {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h1:not(.u-title)
    {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2:not(.u-subtitle)
    {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h3
    {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h4
    {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h5
    {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h6
    {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p.u-large-text
    {
        font-size: 1.25rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p.u-small-text
    {
        font-size: 0.875rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p:not(.u-text-variant)
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .u-btn
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    blockquote
    {
        font-style: italic;
        padding-left: 20px;
        border-width: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .u-metadata
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    ul:not(.u-unstyled)
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    ol
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .u-post-content
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }





.u-custom-font.u-heading-font {
  font-family: Roboto,sans-serif !important;
}


.u-text-grey-40, {
  color: #999999 !important;
}



.u-btn {
  /*display: inline-block;*/
  display: table;
  /*TODO maye need another solution for negative marin*/
  cursor: pointer;
  color: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  align-self: flex-start;
 margin-top: 20px;
  margin-bottom: 20px;
  background-color: #478ac9;
  color: #ffffff;
    }
}
 blockquote
 {
    font-style: italic;
    padding-left: 20px;
    border-width: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    }


.u-group {
  overflow: visible;
  position: relative;
  display: flex;
  border-width: 0;
  background-color: transparent;
  opacity: 1;
}

.u-white {
  background-image:none;
  border-width: 0;
  margin-right:0.8rem;
  margin-left:0.8rem;
  color: #111111;
  background-color: #ffffff;
}
.u-black {
  background-image:none;
  border-width: 0;
  margin-right:0.8rem;
  margin-left:0.8rem;
  color: #ffffff;
  background-color: #000000;
}

.u-button-style.u-palette-2-base,
.u-button-style.u-palette-2-base[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #db545a !important;
}
.u-button-style.u-palette-2-base:hover,
.u-button-style.u-palette-2-base[class*="u-border-"]:hover,
.u-button-style.u-palette-2-base:focus,
.u-button-style.u-palette-2-base[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-palette-2-base:active,
.u-button-style.u-button-style.u-palette-2-base[class*="u-border-"]:active,
.u-button-style.u-button-style.u-palette-2-base.active,
.u-button-style.u-button-style.u-palette-2-base[class*="u-border-"].active {
  color: #ffffff !important;
  background-color: #d63b42 !important;
}

/*여기까지가 다운로드까지, Block1*/




.u-sheet {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.u-expanded-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-repeater {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
}

.u-repeater-item {
  display: flex;
  position: relative;
  border-width: 0px;
}


.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
}

.u-layout-cell,
.u-container-style.u-opacity,
.u-group.u-opacity {
  background-color: transparent !important;
  opacity: 1;
}

.u-container-style.u-opacity:before,
.u-group.u-opacity:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.u-layout-wrap.u-layout-spacing-vertical .u-layout-cell {
  border-top-width: 0;
  border-bottom-width: 0;
}
.u-layout-wrap.u-layout-spacing-vertical .u-layout {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}


.u-layout-row {
  flex: 1 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
}

.u-layout-col > .u-size-40 {
  flex: 40 0 66.66666667%;
}

.u-layout-row > .u-size-40 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}


.u-layout-row > .u-size-30 {
  flex: 0 0 50%;
  max-width: 50%;
}
.u-layout-col > .u-size-30 {
  flex: 30 0 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-layout-row > .u-size-60-md {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .u-layout-col > .u-size-60-md {
    flex: 60 0 100%;
  }
}
@media (max-width: 767px) {
  .u-layout-wrap .u-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .u-layout-wrap .u-layout .u-layout-cell {
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

.u-layout-cell {
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
}



.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.34% 33.33%;
  grid-gap: 0px;
  background-color: #2196F3;
  padding: 0px;
}

.grid-container > div {
  background-color: rgb(0,0,0);
  text-align: center;
  padding: 100px 0;
  font-size: 30px;
}


.item5 {
  color: #ffffff;
  background-color: #db545a !important;
}




.item1 {
  background-image: url("images/retro_example.jpg");
  background-position: 50% 50%;
  background-size:cover;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item2{
  background-image: url("images/instrument.png");
  background-position: 50% 50%;
  background-size: cover;
}
.item8 {
  background-image: url("images/retro_example2.jpg");
  background-position: 100% 28.82%;
  background-size:cover;
  grid-column-start: 2;
  grid-column-end: 4;
}

.item3{
  background-image: url("images/tracker_row.png");
  background-position: 0% 60%;
  background-size: cover;
}

.item6{
  background-image: url("images/tracker_row2.png");
  background-size: cover;
}


.item7{
  background-image: url("images/tracker_row.png");
  background-size: cover;
}




.u-expanded-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media (min-width: 1200px) {
  .u-expanded-width-xl {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }



* {
  box-sizing: border-box;
}

.last-col {
  width: 40%;
  float: left;
  margin-top: 7rem;
  margin-left:4rem;
  padding: 15px;
}

.last-col-2 {
  width: 35%;
  float: left;
  margin-top:7rem;
  margin-left:5rem;
  padding: 15px;
}


.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333333;
   color: #ffffff;
   padding:1rem;
   text-align: center;
}


p.c {
  white-space: pre;
}
