.u-section-1 .u-sheet-1 {min-height: 750px}
.u-section-1 .u-repeater-1 {width: 1140px; margin-top: 94px; margin-bottom: 0; min-height: 563px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-gap: 10px 10px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {margin-bottom: 0}
.u-section-1 .u-image-1 {height: 260px; margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-text-2 {margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-3 {margin-bottom: 0}
.u-section-1 .u-image-2 {height: 260px; margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-text-4 {margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-text-5 {margin-bottom: 0}
.u-section-1 .u-image-3 {height: 260px; margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-text-6 {margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-repeater-2 {width: 1140px; min-height: 563px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-gap: 10px 10px; margin: 30px auto 60px}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-text-7 {margin-bottom: 0}
.u-section-1 .u-image-4 {height: 260px; margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-text-8 {margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-text-9 {margin-bottom: 0}
.u-section-1 .u-image-5 {height: 260px; margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-text-10 {margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-container-layout-6 {padding: 30px}
.u-section-1 .u-text-11 {margin-bottom: 0}
.u-section-1 .u-image-6 {height: 260px; margin-top: 20px; margin-bottom: 0}
.u-section-1 .u-text-12 {margin-top: 20px; margin-bottom: 0} 

@media (max-width: 1199px){ .u-section-1 .u-repeater-1 {width: 940px; min-height: 464px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px))}
.u-section-1 .u-repeater-2 {width: 940px; min-height: 464px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px))} }

@media (max-width: 991px){ .u-section-1 .u-repeater-1 {width: 720px; min-height: 1066px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px))}
.u-section-1 .u-repeater-2 {width: 720px; min-height: 1066px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px))} }

@media (max-width: 767px){ .u-section-1 .u-repeater-1 {width: 540px; grid-template-columns: 100%}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-repeater-2 {width: 540px; grid-template-columns: 100%}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-repeater-1 {width: 340px}
.u-section-1 .u-repeater-2 {width: 340px} }